@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

img {
  @apply select-none pointer-events-none;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply select-none pointer-events-none;
}
